.header-container {
  width: 100%;
  position: sticky;
  z-index: 20;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  top: 0;
}

.header-contact {
  background-color: #5d5e8f;
  width: 100%;
  padding: 10px 0px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-details,
.header-cart > div {
  display: flex;
  align-items: center;
}

.header-details div {
  display: flex;
  align-items: center;
  margin-right: 48px;
}

.header-details div p,
.header-cart > div p,
.header-details div a {
  font-size: 16px;
  line-height: 18.75px;
  color: #f1f1f1;
  margin-left: 10px;
  text-decoration: none;
}

.header-cart div,
.header-details div {
  cursor: pointer;
}

.header-cart-img,
.header-cart {
  position: relative !important;
}

.header-cart span {
  position: absolute;
  right: -5px;
  top: -5px;
  color: #5d5e8f;
  z-index: 2222;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  border-radius: 50%;
  background-color: white;
}

.heading-cur {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.cur-options {
  position: absolute;
  top: 20px;
  background-color: #5d5e8f;
  z-index: 10;
  flex-direction: column;
  display: flex;
  gap: 16px;
  padding: 8px;
  box-sizing: border-box;
  align-items: flex-start !important;
}

.cur-options p {
  display: block;
  margin-left: 0px !important;
}

.header-body {
  width: 100%;
  padding: 22px 0px;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 10%;
}

.header-img {
  width: 100%;
  cursor: pointer;
}

.header-img img {
  width: 100%;
}

.header-logo > img {
  display: none;
}

.header-search {
  display: flex;
  align-items: center;
  width: 27%;
  justify-content: space-between;
  height: 40px;
}

.header-search input {
  border: none;
  border: 2px solid #e7e6ef;
  height: 36px;
  width: 84%;
  padding: 0px 10px;
}

.header-search input:focus {
  outline: none;
}

.header-search div {
  width: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb2e86;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-img {
    width: 30%;
  }

  .header-logo img {
    display: block;
    cursor: pointer;
  }

  .header-search {
    display: none;
  }
}
