.orders-table-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--neutral-gray-gray-50, #f0f1f3);
  background: var(--neutral-white, #fff);
}

.orders-table-container > p,
.orders-table-container .name h2 {
  padding: 18px 22px;
  box-sizing: border-box;
  color: var(--neutral-black-black-500, #667085);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.orders-table-container p:first-child,
.order-id {
  width: 12%;
  color: var(--primary-primary-500, #5c59e8);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.orders-table-container p:nth-child(2) {
  width: 25%;
  color: #333843;
  cursor: pointer;
}

.orders-table-container p:nth-child(2) span,
.orders-table-container .name p {
  color: var(--neutral-black-black-500, #667085);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.06px;
}

.orders-table-container p:nth-child(3) {
  width: 21%;
}

.orders-table-container p:nth-child(5) {
  width: 16%;
}

.orders-table-container .name {
  width: 25%;
  padding: 18px 22px;
}

.orders-table-container .name h2 {
  color: #333843;
  padding: 0px;
}

.orders-table-container p:nth-child(6) {
  width: 13%;
}

.orders-table-container p:nth-child(6) span {
  display: flex;
  padding: 4px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  width: 70%;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.orders-table-container .action {
  width: 8%;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .orders-table-container {
    display: none;
  }
}
