.single-products-container {
  width: 100%;
  position: relative;
}

.single-products-wrapper {
  position: relative;
  width: 100%;
  background: #f6f7fb;
  padding: 50px 0px 29px;
}

.single-products-active {
  position: relative;
  width: 100%;
  background: #ebf4f3;
  padding: 50px 0px 29px;
}

.single-products-wrapper img,
.single-products-active img {
  width: 60%;
  margin: 0px auto;
  display: block;
}

.single-products-container h2 {
  color: var(--text, #151875);
  text-align: center;
  font-size: 18px;
  margin: 18px 0px 8px;
  font-weight: 700;
  cursor: pointer;
}

.single-products-container p {
  color: var(--text, #151875);
  text-align: center;
  font-size: 14px;
}

.single-products-container span {
  color: var(--accent, #fb2e86);
  font-size: 14px;
  margin-left: 10px;
  text-decoration: line-through;
}

.single-products-action {
  position: absolute;
  left: 15px;
  bottom: 100px;
}

.single-products-action img {
  display: block;
  width: 16px;
  cursor: pointer;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .single-products-action img {
    width: 30px;
  }
}
