.admin-products-container {
  width: 100%;
}

.admin-products-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.admin-products-navigation h2 {
  color: var(--neutral-black-black-700, #333843);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.12px;
}
