.new-product-container {
  width: 100%;
}

.new-product-container > h2 {
  color: var(--neutral-black-black-700, #333843);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.12px;
  margin-bottom: 24px;
}

.new-product-wrapper {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--neutral-gray-gray-100, #e0e2e7);
  background: var(--neutral-white, #fff);
  margin-bottom: 24px;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0px 1.5px 2px 0px rgba(16, 24, 40, 0.1);
}

.new-product-wrapper > h2 {
  color: var(--neutral-black-black-800, #1a1c21);
  margin-bottom: 14px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.09px;
}

.form-group {
  width: 100%;
  margin-bottom: 14px;
}
.new-product-wrapper label {
  display: block;
  margin-bottom: 8px;
  color: var(--neutral-black-black-600, #4d5464);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--neutral-gray-gray-100, #e0e2e7);
  background: var(--neutral-gray-gray-25, #f9f9fc);
  color: var(--neutral-gray-gray-400, #858d9d);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
  padding: 8px 12px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: non;
}

.form-group textarea {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--neutral-gray-gray-100, #e0e2e7);
  background: var(--neutral-gray-gray-25, #f9f9fc);
  width: 100%;
  box-sizing: border-box;
  height: 140px;
}

.media-wrapper {
  width: 100%;
  display: flex;
  padding: 24px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px dashed var(--neutral-gray-gray-100, #e0e2e7);
  background: var(--neutral-gray-gray-25, #f9f9fc);
  margin-bottom: 14px;
}

.media-wrapper p {
  color: var(--neutral-gray-gray-400, #858d9d);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.media-wrapper input {
  appearance: none;
  display: none;
}

.media-wrapper label {
  padding: 10px 14px;
  border-radius: 8px;
  background: var(--primary-primary-100, #dedefa);
  color: var(--primary-primary-500, #5c59e8);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.07px;
  cursor: pointer;
}

.inventory-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inventory-wrapper > div {
  width: 48%;
}

.new-product-container > button {
  width: 30%;
  margin: 20px auto;
  display: block;
  padding: 10px 14px;
  border-radius: 8px;
  background: var(--primary-primary-500, #5c59e8);
  border: none;
  color: var(--neutral-white, #fff);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.07px;
}

@media screen and (max-width: 500px) {
  .inventory-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .inventory-wrapper > div {
    width: 100%;
  }

  .new-product-container > button {
    width: 100%;
  }
}
