.products-table-container {
  margin-top: 24px;
}

.products-table-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.products-table-header p {
  color: var(--neutral-black-black-700, #333843);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.products-table-header p:first-child {
  width: 38%;
}

.products-table-header p:nth-child(2),
.products-table-header p:nth-child(3) {
  width: 16%;
}

.products-table-header p:nth-child(4),
.products-table-header p:nth-child(5),
.products-table-header p:nth-child(6) {
  width: 19%;
}

.product-name {
  cursor: pointer;
}

.action-delete {
  position: relative;
  z-index: 10;
}

.action-delete img {
  cursor: pointer;
}

.dispute {
  padding: 20px;
  box-sizing: border-box;
  left: -20px;
  margin: 0px auto;
  border-radius: 20px;
  display: block !important;
  position: absolute !important;
  background: white;
  top: -50px;
  z-index: 9999;
  box-shadow: 0px 0px 27px 4px rgba(204, 204, 204, 0.2);
}

.dispute > h2 {
  color: var(--neutral-black-black-500, #667085);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.dispute button {
  width: 45%;
  display: block;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dispute div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  margin-top: 10px;
}

.dispute div button:first-child {
  box-sizing: border-box;
  background: var(--secondary-red-red-50, #feedec);
  color: var(--secondary-red-red-500, #f04438);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.dispute div button:last-child {
  box-sizing: border-box;
  background: var(--secondary-green-green-50, #e7f4ee);
  color: var(--secondary-green-green-500, #0d894f);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
}

@media screen and (max-width: 500px) {
  .products-table-body,
  .products-table-header {
    display: none;
  }
}
